.item{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    width: 255px;
    box-shadow: 1px 1px 7px black;
    
}
.avatar{
    height: 50px;
    width: 45px;
    margin-right: 25px;
}

.active{
    background-color: rgb(39, 222, 39);
    width: 13px;
    height: 10px;
    border-radius: 42%;
        position: relative;
            left: -26px
}
.disabled{
    background-color: red;
    width: 13px;
    height: 10px;
    border-radius: 42%;
        position: relative;
            left: -26px
}